
<h2>Login</h2>

<% form_tag session_path do -%>
  <p><%= label_tag 'username', 'Username' %><br />
  <%= text_field_tag 'login', @login %></p>

  <p><%= label_tag 'password', 'Password' %><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= submit_tag 'Log in' %></p>
<% end -%>
