
<h3>Schedule</h3>

<%= render_blurb(@blurb) %>

<table border="0" cellspacing="1" cellpadding="5">
  <tr class="tableheading">
    <th class="lecturenumber">lecture #</th>
    <th class="lecturedate">date</th>
    <th class="lecturetopic">topics</th>
    <th class="lecturereadings">readings / preparation</th>
  </tr>

  <% for l in @lectures.sort { |l1,l2| l1.number <=> l2.number } %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="lecturenumber"><%= h l.number %></td>
      <td class="lecturedate">
        <%= h l.lecture_dates_string %>
      </td>
      <td class="lecturetopic"><%= sanitize l.topics %></td>
      <td class="lecturereading"><%= sanitize l.readings %></td>
    </tr>
  <% end %>
</table>
