
<% @title = 'Course readings' %>

<h3>Reading materials</h3>

<%= render_blurb(@blurb) %>

<table>
  <tr class="tableheading">
    <th class="readingcover">cover</th>
    <th class="readingstatus">status</th>
    <th class="readingbibinfo">bibliographic information</th>
  </tr>

  <% for r in sorted_course_readings(@course_readings) %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="readingcover">
        <%= reading_cover r.reading %>
      </td>
      <td class="readingstatus"><%= r.required ? 'required' : 'optional' %></td>
      <td class="readingbibinfo"><%= sanitize bibinfo( r.reading ) %></td>
    </tr>
  <% end %>
</table>

