
<%= form.error_messages %>

<p>
  <%= form.label :code %><br />
  <%= form.text_field :code %>
</p>
<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :semester %><br />
  <%= form.text_field :semester %>
</p>
<p>
  <%= form.label :year %><br />
  <%= form.text_field :year %>
</p>
<p>
  <%= form.label :instructors %>
  <%= render :partial => "course_instructor", :collection => course.course_instructors.select { |ci| ci.role == 'main' }, :locals => { :people => people, :rolename => 'Instructor' } %>
</p>
<br/>
<p>
  <%= form.label :tas, 'TAs' %>
  <%= render :partial => "course_instructor", :collection => course.course_instructors.select { |ci| ci.role == 'ta' }, :locals => { :people => people, :rolename => 'TA' } %>
</p>
<br/>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
<p>
  <%= form.label :rooms %><br />
  <%= form.text_field :rooms %>
</p>
<p>
  <%= form.label :days_times %><br />
  <%= form.text_field :days_times %>
</p>
<p>
  <%= form.submit submit %>
</p>

