
<% @title = 'Course list' %>

<h2>Course list</h2>

<table>
  <tr class="tableheading">
    <th class="courselistcourse">Course</th>
    <th class="courselistwhen">Offered</th>
  </tr>

  <% @courses.sort {|c1,c2| sort_field(c2) <=> sort_field(c1) }.each do |course| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="courselistcourse"><a href="<%= course_path( course ) %>"><%=h course.code %>: <%=h course.name %></a></td>
      <td class="courselistwhen"><%= h course.semester %> <%=h course.year %></td>
      <% if authorized?(:delete, course) %>
        <td><%= link_to 'Delete', course, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
      <% if authorized?(:clone, course) %>
        <td><%= link_to 'Clone', clone_course_path(course) %></td>
      <% end %>
    </tr>
  <% end %>

</table>

