<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag 'style' %>
  <% if @use_jqgrid %>
    <%= jqgrid_stylesheets %>
    <%= jqgrid_javascripts %>
    <style type="text/css">
      /* Fix jqGrid image paths */
      .ui-icon { width: 16px; height: 16px; background-image: url(<%= image_path 'jqgrid/ui-icons_469bdd_256x240.png' %>); }
      .ui-widget-content .ui-icon {background-image: url(<%= image_path 'jqgrid/ui-icons_469bdd_256x240.png' %>); }
      .ui-widget-header .ui-icon {background-image: url(<%= image_path 'jqgrid/ui-icons_d8e7f3_256x240.png' %>); }
      .ui-state-default .ui-icon { background-image: url(<%= image_path 'jqgrid/ui-icons_6da8d5_256x240.png' %>); }
      .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(<%= image_path 'jqgrid/ui-icons_217bc0_256x240.png' %>); }
      .ui-state-active .ui-icon {background-image: url(<%= image_path 'jqgrid/ui-icons_f9bd01_256x240.png' %>); }
      .ui-state-highlight .ui-icon {background-image: url(<%= image_path 'jqgrid/ui-icons_2e83ff_256x240.png' %>); }
      .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(<%= image_path 'jqgrid/ui-icons_cd0a0a_256x240.png' %>); }
      .ui-widget-overlay { background: #aaaaaa url(/images/jqgrid/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
      .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(<%= image_path 'jqgrid/ui-bg_flat_0_aaaaaa_40x100.png' %>) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }
      .ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd url(<%= image_path 'jqgrid/ui-bg_inset-hard_100_fcfdfd_1x100.png' %>) 50% bottom repeat-x; color: #222222; }
      .ui-widget-header { border: 1px solid #4297d7; background: #5c9ccc url(<%= image_path 'jqgrid/ui-bg_gloss-wave_55_5c9ccc_500x100.png' %>) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
      .ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc url(<%= image_path 'jqgrid/ui-bg_glass_85_dfeffc_1x400.png' %>) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; outline: none; }
      .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5 url(<%= image_path 'jqgrid/ui-bg_glass_75_d0e5f5_1x400.png' %>) 50% 50% repeat-x; font-weight: bold; color: #1d5987; outline: none; }
      .ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 url(<%= image_path 'jqgrid/ui-bg_inset-hard_100_f5f8f9_1x100.png' %>) 50% 50% repeat-x; font-weight: bold; color: #e17009; outline: none; }
    </style>
  <% end %>
  <link rel="icon" href="<%= image_path ICON_IMAGE %>" type="image/x-icon" />
  <link rel="shortcut icon" href="<%= image_path ICON_IMAGE %>" type="image/x-icon" />
  <style type="text/css">
    #contentwrapper {
      background: #ffffff url("<%= image_path 'bgcol.png' %>") repeat-y 0 0;
    }
    #lcol li.selected {
      list-style-image: url("<%= image_path 'red-arrow.gif' %>");
    }
  </style>
</head>
<body>

<div id="hdr">
  <div id="hdrimg">
    <a href="<%= INSTITUTE_URL%>"><img src="<%= image_path INSTITUTE_LOGO %>" alt="" border="0" /></a>
  </div>
  <div>
    <h2><a href="<%= OWNER_URL %>"><%= OWNER_NAME %></a></h2>
    <h3><a href="<%= DEPARTMENT_URL %>"><%= DEPARTMENT_NAME %></a></h3>
  </div>
</div>

<div id="bar"></div>

<div id="contentwrapper">
  <div id="lcol">
    <%= render_navigation %>
  </div>
  
  <div id="content">
    <% if @course %>
      <h2><%= course_title(@course) %></h2>
    <% end %>
    <% if notice %>
      <p style="color: green"><%= notice %></p>
    <% end %>
    <% if flash[:error] %>
      <p style="color: red">Error: <%= flash[:error] %></p>
    <% end %>   
    <%= yield %>
  </div>
</div>

<div id="ftr">
  <div id="ftrimage">
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
      <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/80x15.png" />
    </a>
    <a href="http://validator.w3.org/check?uri=referer">
      <img src="<%= image_path 'valid_xhtml.png' %>"
           alt="Valid XHTML 1.0 Transitional" height="15" width="80" />
    </a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img src="<%= image_path 'valid_css.png' %>"
           alt="Valid XHTML 1.0 Transitional" height="15" width="80" />
    </a>
  </div>
  <div id="copyright">
    License: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a>,
    <%= OWNER_NAME %>, <%= AUTHORSHIP_YEAR %>-<%= Time.now.year %>
  </div>
</div>

<%= LAYOUT_JAVASCRIPT %>

</body>
</html>
